<div id="<%= dom_id employee %>">
  <p>
    <strong>Name:</strong>
    <%= employee.Name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= employee.Age %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= employee.Gender %>
  </p>

  <p>
    <strong>Designation:</strong>
    <%= employee.Designation %>
  </p>

</div>
